.author_icon{
	width:24px;
	height: 24px;
}
.type_icon{
	display: inline-block;
	line-height: 20px;
	text-align: center;
	width: 36px;
	height: 20px;
	border-radius:3px;
}
.top{
	color: white;
	background-color: #80bd01;
}
.tab{
	color: #999;
	background-color: #e5e5e5;
}
.hidden{
	display: none;
}
.last_reply{
	float: right;
}
.item_class{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0.5px;
	border-bottom-style:solid;
	border-bottom-color: #EEEEEE;
}
.item_class:hover{
	background-color: #EEEEEE;
}
a{
	color: #333;
}
a: vistied{
	color:#888;
}
